{{#each []}}
      <li style="display: flex; align-items: center;">
         <img style="display: block; max-width: 50px; max-height: 50px; height: auto; margin-right: 20px;" src="{{flags.svg}}" alt="{{name.official}}">
      <h2 style="font-size: 20px;">{{name.official}}</h2>
      </li>
      {{/each}} 